* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app-header-image {
  object-fit: contain;
}

.app-signUp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto;
}

.app-posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app-posts-left {
  margin-right: 10px;
}

.app-posts-right {
  margin-left: 10px;
}

.login-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  text-align: center;
  background-color: #d72323;
  border: 3px solid #303841;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 20px;
}

@media all and (max-width: 700px) {
  .app-posts-right {
    display: none;
  }
  .app-posts-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
